{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">
            {% if model_type == 'organization' %}
                Organizations
            {% else %}
                Organization Members
            {% endif %}
        </h4>
        <div class="card-title">
            {% if model_type == 'organization' %}
                {% if object %}Update Organization{% else %}Add New Organization{% endif %}
            {% else %}
                {% if object %}Update Org Member{% else %}Add New Org Member{% endif %}
            {% endif %}
        </div>
        <div class="card-category">Page Subtitle</div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-6">
            <form class="navbar-left navbar-form nav-search mr-md-3" action="">
                <div class="input-group">
                    <input type="text" placeholder="Search ..." class="form-control" />
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-search search-icon"></i>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="pull-right">
                {% if model_type == 'organization' %}
                    <a href="{% url 'organization-add' %}" class="btn btn-success btn-rounded">Add Organization</a>
                {% else %}
                    <a href="{% url 'orgmember-add' %}" class="btn btn-success btn-rounded">Add Member</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <div class="card-title">
                {% if model_type == 'organization' %}
                    {% if object %}Update Organization{% else %}Add New Organization{% endif %}
                {% else %}
                    {% if object %}Update Org Member{% else %}Add New Org Member{% endif %}
                {% endif %}
            </div>
            <div class="card-category">Page Subtitle</div>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <form class="" action="" method="post" novalidate>
                    {% csrf_token %}
                    {% include 'includes/form.html' %}

                    <div class="form-group">
                        <div class="col-md-12 col-sm-3">
                            <button type="submit" class="btn btn-primary btn-rounded">
                                Submit
                            </button>
                            <a href="
                                {% if model_type == 'organization' %}
                                    {% url 'organization-list' %}
                                {% else %}
                                    {% url 'orgmember-list' %}
                                {% endif %}
                            " class="btn btn-default btn-rounded">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}